<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue komentar + vote</title>
    <style>
      .disabled{
        color: red;
      }
    </style>
  </head>
  <body>

    <div id="app">
      <ul>
        <comments v-for="commentx in comments" :commenty="commentx"></comments>
      </ul>

      <textarea v-model="comment_text" @keyup.enter="postComment"></textarea>
    </div>

    <template id="comment-template">
      <div @click="sundul" :class="{'disabled':plus}"> + </div>
      <div>{{ commenty.body }} - {{ commenty.time }} || Vote: {{ vote }}</div>
      <div @click="bata" :class="{'disabled':minus}"> - </div>
    </template>

    <script src="vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
